---
import Layout from '../layouts/Layout.astro';
import {db, Users, Works} from 'astro:db';

const usersTable = await db.select().from(Users);




---

<Layout>

	<a href="/staffregister">スタッフ登録</a>


</Layout>
